<div class="col-lg-12 box-config">
    <button class="btn btn-settings pull-right" ng-click="isOpen = !isOpen">
        <span class="fa fa-cog"></span>
    </button>
    <div ng-show="isOpen">
        <div class="col-lg-2">
            <h3>From Date</h3>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="fromDate" uib-datepicker-popup is-open="fromDateSelector.isOpen" max-date="endOfYesterday" datepicker-options="dateSelectorsOptions" disabled>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="fromDateSelector.openCal($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="col-lg-2">
            <h3>To Date</h3>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="toDate" uib-datepicker-popup is-open="toDateSelector.isOpen" max-date="endOfYesterday" datepicker-options="dateSelectorsOptions" disabled>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="toDateSelector.openCal($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="col-lg-2">
            <h3>Period</h3>
            <select class="form-control" ng-model="interval" ng-options="interval for interval in availableIntervals"></select>
        </div>
    </div>
</div>
