.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
    padding-top: 60px;
}

/* Containers */
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

/* End Containers */

/* Vertical Center */
.vertical-center {
    height: 100%;
    width: 100%;

    text-align: center;  /* align the inline(-block) elements horizontally */
    font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

.vertical-center > .jumbotron {
    max-width: 100%;
    background-color: gold;

    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;        /* <-- reset the font property */
}

@media (max-width: 768px) {
    .vertical-center:before {
        /* height: auto; */
        display: none;
    }
}
/* End Vertical Center */

/* Form */
.form-signin, .form-signup {
    max-width: 300px;
    padding: 0px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signup .form-signup-heading,
.form-signin .checkbox {
    margin-bottom: 0px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control,
.form-signup .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus,
.form-signup .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signup input#inputUsername {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signup input#inputEmail {
    margin-bottom: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signup input#inputPassword {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signup input#inputConfirmPassword {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/* End Form */

/* Begin SubSideBar */
/* Hide for mobile, show later */
.subsidebar {
    display: none;
}
@media (min-width: 768px) {
    .subsidebar {
        font-size: 16px;
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        margin-left: 50px;
        padding-left: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #dbdbdb;
    }
}

/* Sidebar navigation */
.nav-subsidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-left: -20px;
    padding-bottom: 5px;
    padding-top: 0px;
    border-bottom: 2px solid #dbdbdb;
}
.nav-subsidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color: #7e7e7e;
}

.nav-subsidebar > .active > a,
.nav-subsidebar > .active > a:hover,
.nav-subsidebar > .active > a:focus {
    color: #fff;
    background-color: #7e7e7e;
}
/* End SideBar */

/* Begin SideBar */
/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        width: 50px;
        font-size: 30px;
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding-left: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #3a3a3a;
        border-right: 0px solid #dbdbdb;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-left: -20px;
    padding-bottom: 5px;
    padding-top: 0px;
    border-bottom: 0px solid #dbdbdb;
}
.nav-sidebar > li > a {
    color: #7e7e7e;
    padding-right: 0px;
    padding-left: 10px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #707070;
    background-color: #f5f5f5;
}

/* End SideBar */

/* NavBar */
.navbar {
    height: 50px;
    width: auto;
}

.navbar-inverse {
    background-color: #1a1a1a;
    border: 0px;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
    color: #444;
    background-color: transparent;
}
/* End NavBar */

/* Begin Footer */
.cls-footer {
    padding-bottom: 10px;
    border-top: 1px solid #eee;
    padding-top: 10px;
}
/* End Footer */

.show-date {
    margin-top : 15px;
    margin-right: 50px;
    color : #fff;
}

.thumbnail {
  height: 350px;
  overflow-y: auto;
}

.thumbnail-form {
    height: 500px;
    overflow-y: auto;
}

.thumbnail .pull-right {
  width: 50px;
  margin-right: 15px;
  margin-top: 15px;
}
