<div class="container-fluid">

    <div ng-include="'app/components/admin/navbar/top/top.html'"></div>
    <div ng-include="'app/components/admin/navbar/side/side.html'"></div>
    <div ng-include="'app/components/admin/navbar/subside-client/subside-client.html'"></div>

    <div class="col-lg-12 main">
        <div class="title">
            <span class="color-green fa fa-user-plus"></span>Add Client
        </div>

        <alert ng-repeat="alert in alerts | limitTo: 4" type="{{ alert.type }}" close="closeAlert($index)">{{ alert.msg }}</alert>

        <form name="addForm" ng-submit="addUser()">
            <div class="col-lg-offset-1 col-lg-5" id="GeneralInformations">
                <div class="general-box">
                    <span class="color-grey fa fa-list pull-right"></span>
                    <h1>General Informations</h1>
                    <div class="content-box">
                        <div class="form-group" show-errors>
                            <label  for="InputFirstName">First Name</label>
                            <input type="text" class="form-control" id="InputFirstName" name="firstName" ng-model="formDatas.first_name" required>
                        </div>

                        <div class="form-group" show-errors>
                            <label for="InputLastName">Last Name</label>
                            <input type="text" class="form-control" id="InputLastName" name="lastName" ng-model="formDatas.last_name" required>
                        </div>

                        <div class="form-group" show-errors>
                            <label for="InputPhoneNumber">Phone</label>
                            <input type="text" class="form-control" id="InputPhoneNumber" name="phone" ng-model="formDatas.phone">
                        </div>

                        <div class="form-group" show-errors>
                            <label for="InputEmail">Mail</label>
                            <input type="email" class="form-control" id="InputMail" name="mail" ng-model="formDatas.mail">
                        </div>

                        <div class="form-group">
                            <label for="InputGender">Sex</label>
                            <div class="form-inline">
                                <label class="radio-inline">
                                    <input type="radio" id="InputGenderMale" name="genderRadios" ng-model="formDatas.gender" value="0"> Male
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" id="InputGenderFemale" name="genderRadios" ng-model="formDatas.gender" value="1"> Female
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="InputBirthdate">Birthdate</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="InputBirthdate" name="birthdate" ng-model="formDatas.birthdate" datepicker-mode="year" min-date="'1920-01-01'" max-date="birthdateCal.today" datepicker-popup="dd MMM yyyy" is-open="birthdateCal.isOpen" disabled>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="birthdateCal.openCal($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>

                        <h1>Address</h1>
                        <div class="form-group col-lg-12">
                            <label for="InputAddressStreet">Street address</label>
                            <input type="text" class="form-control field-address-street" id="InputAddressStreet1" name="addressStreet1" ng-model="formDatas.address_street_1">
                            <input type="text" class="form-control field-address-street" id="InputAddressStreet2" name="addressStreet2" ng-model="formDatas.address_street_2">
                        </div>
                        <div class="form-group col-lg-8">
                            <label for="InputAddressCity">City</label>
                            <input type="text" class="form-control" id="InputAddressCity" name="city" ng-model="formDatas.city">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="InputAddressZipCode">Zip code</label>
                            <input type="number" class="form-control" id="InputAddressZipCode" min="1" name="zip" ng-model="formDatas.zip">
                        </div>
                    </div>
                </div>
            </div> <!-- General informations end -->

            <div class="col-lg-5" id="Camera">
                <div class="general-box">
                    <span class="color-grey fa fa-camera pull-right"></span>
                    <h1>Photo</h1>
                    <div class="content-box">
                        <div class="webcam-loading text-center" ng-show="webcam.isLoading && !webcam.hasErrors">
                            <i class="fa fa-spinner fa-pulse"></i>
                            <br><br> <!-- Ouai ben je suis pas un bootstrapeur moi ! -->
                            <p>Loading the image...<br>Please be sure the webcam is allowed to be used by the website</p>
                        </div>
                        <div class="webcam-alert alert alert-error text-center ng-scope" ng-show="webcam.hasErrors">
                            <i class="fa fa-exclamation-triangle fa-2x color-red"></i>
                            <p>Webcam could not be started correctly.<br>Did you give us access to it?</p>
                        </div>
                        <div class="webcam text-center" ng-hide="!webcam.wantNewPhoto || webcam.isLoading || webcam.hasErrors">
                            <webcam on-error="onWebcamError(err)" on-streaming="onWebcamSuccess()" channel="channel"></webcam>
                        </div>
                        <div class="snapshot text-center">
                            <canvas id="snapshot" ng-hide="webcam.wantNewPhoto"></canvas>
                        </div>
                        <div class="snapshotCtrls text-center">
                            <a class="btn btn-large btn-primary" ng-show="webcam.wantNewPhoto && !webcam.isLoading" ng-click="takeSnapshot()">Take photo!</a>
                            <a class="btn btn-large btn-warning" ng-hide="webcam.wantNewPhoto" ng-click="webcam.wantNewPhoto = true">Retry :(</a>
                        </div>
                    </div>
                </div>
            </div>  <!-- Camera end -->

            <div class="col-lg-5" id="DetailsInformations">
                <div class="general-box">
                    <span class="color-grey fa fa-paperclip pull-right"></span>
                    <h1>Extra Informations</h1>
                    <div class="caption">
                        <div class="content-box">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="exampleInputAmount" access="Admin">Access level</label>
                                    <div class="pull-right" access="Admin">
                                        <i popover-template="helpPopoverAccessLevel.templateUrl" popover-title="{{helpPopoverAccessLevel.title}}" popover-trigger="mouseenter" popover-placement="top" class="help color-blue fa fa-question-circle"></i>
                                    </div>
                                    <select class="form-control" ng-model="formDatas.user_level" access="Admin">
                                        <option value="0">Client</option>
                                        <option value="1">User</option>
                                        <option value="2">Moderator</option>
                                        <option value="3">Administrator</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="InputFirstName">Sponsor</label>
                                    <div class="pull-right">
                                        <i popover-template="helpPopoverSponsor.templateUrl" popover-title="{{helpPopoverSponsor.title}}" popover-trigger="mouseenter" popover-placement="top" class="help color-blue fa fa-question-circle"></i>
                                    </div>
                                    <input type="number" class="form-control" id="InputSponsor" min="0" name="sponsor" ng-model="formDatas.sponsor" placeholder="Enter the id of the user who sponsored this person">
                                </div>

                                <label for="comment">Comment</label>
                                <textarea class="form-control" id="InputComment" rows="10" name="comment" ng-model="formDatas.comment" placeholder="If you have any comments to do..."></textarea>
                            </div>
                        </div>
                    </div>
                </div> <!-- Details informations end -->
            </div>
            <div class="col-lg-offset-1 col-lg-10" id="ButtonAdd">
                <button type="submit" class="col-lg-12 btn color-background-blue color-white btn-lg btn-block button-submit" ng-disabled="isButtonSaveDisabled || addForm.$invalid">Add client</button>
            </div>
        </form>
    </div>
</div>
