.navbar-inverse .navbar-header .navbar-brand > img {
    margin-top: -6px;
    display: inline;
    margin-left: -10px;
    margin-right: 10px;
}

.navbar-inverse .navbar-header .navbar-brand {
    width: auto;
    font-size: 22px;
    color: #3a3a3a;
    font-weight: 600;
}

.navbar-inverse {
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    height: 70px;
}

.navbar-shadow {
    box-shadow: 0px 0px 4px rgba(0,0,0,0.15);
}

.navbar-inverse-size {
    width: auto;
}

.navbar-inverse .navbar-header > a {
    color: #757575;
}
.navbar-inverse .navbar-header > a:hover,
.navbar-inverse .navbar-header > a:focus {
    color: #757575;
}

.navbar-inverse .navbar-nav {
    margin-top: 2px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #757575;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #757575;
}

.nav-top {
    font-size: 30px;
    margin-top: 3px;
    margin-right: 20px; /* 20px padding + 1px border */
    padding-bottom: 5px;
    border-bottom: 0 solid #dbdbdb;
}

.nav-top > li > a {
    margin-left: 5px;
    width: 60px;
    padding-top:-20px;
    padding-left: 15px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-bottom:5px;
}

.nav-top .dropdown-toggle {
    font-size: 30px;
    margin-right: 20px;
    margin-top: 5px;
    width: 60px;
    padding-left: 15px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-bottom:5px;
    border: 0;
}

.border-dropdown-menu
{
    border-top: 1px solid #dbdbdb;
    padding-top: 5px;
}

.nav-top > .active > a,
.nav-top > .active > a:hover,
.nav-top > .active > a:focus {
    background-color: #DCDCDC;
}
/*
.right-menu {
    padding-top : 15px;
    margin-right: 10px;
    color : #5b5b5b;
}

.right-menu > li {
    margin-right: 50px;
}
.right-menu > li > a {
    margin-top : -15px;
    margin-right: -10px;
}

.right-menu > li > a:link {color: #289A31;}
.right-menu > li > a:visited {color: #289A31;}
.right-menu > li > a:hover {color: #289A31;}
.right-menu > li > a:active {color: #289A31;}*/


@-webkit-keyframes topbarSlideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes topbarSlideDown {
  0% {
    -moz-transform: translateY(-100%);
  }

  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes topbarSlideDown {
  0% {
    -o-transform: translateY(-100%);
  }

  100% {
    -o-transform: translateY(0);
  }
}

@keyframes topbarSlideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.animated.topbarSlideDown {
  -webkit-animation-name: topbarSlideDown;
  -moz-animation-name: topbarSlideDown;
  -o-animation-name: topbarSlideDown;
  animation-name: topbarSlideDown;
}

@-webkit-keyframes topbarSlideUp {
  0% {
    -webkit-transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-100%);
  }
}
@-moz-keyframes topbarSlideUp {
  0% {
    -moz-transform: translateY(0);
  }

  100% {
    -moz-transform: translateY(-100%);
  }
}
@-o-keyframes topbarSlideUp {
  0% {
    -o-transform: translateY(0);
  }

  100% {
    -o-transform: translateY(-100%);
  }
}
@keyframes topbarSlideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.animated.topbarSlideUp {
  -webkit-animation-name: topbarSlideUp;
  -moz-animation-name: topbarSlideUp;
  -o-animation-name: topbarSlideUp;
  animation-name: topbarSlideUp;
}
