<div class="container-fluid">

    <div ng-include="'components/admin/navbar/top/top.html'"></div>
    <div ng-include="'components/admin/navbar/side/side.html'"></div>
    <div ng-include="'components/admin/navbar/subside-client/subside-client.html'"></div>

    <div class="col-lg-10 col-lg-offset-1 main">
        <h1 class="page-header">Add Client</h1>
            <alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">{{ alert.msg }}</alert>
            <form ng-submit="addUser()">
                <div class="col-sm-6 col-md-4" id="GeneralInformations">
                    <div class="thumbnail thumbnail-form">
                        <font size="8"><span class="fa fa-list pull-right"></span></font>
                        <div class="caption">
                            <h2>General Informations</h2>
                            <div class="form-group">
                                <label for="InputFirstName">First Name</label>
                                <input type="text" class="form-control" id="InputFirstName" ng-model="formDatas.firstName" placeholder="First Name">
                            </div>

                            <div class="form-group">
                                <label for="InputLastName">Last Name</label>
                                <input type="text" class="form-control" id="InputLastName" ng-model="formDatas.lastName" placeholder="Last Name">
                            </div>

                            <div class="form-group">
                                <label for="InputEmail">Mail</label>
                                <input type="email" class="form-control" id="InputMail" ng-model="formDatas.mail" placeholder="Enter email address">
                            </div>

                            <div class="form-group">
                                <label for="InputGender">Sex</label>
                                <div class="form-inline">
                                    <label class="radio-inline">
                                        <input type="radio" name="genderRadios" id="InputGender" ng-model="formDatas.gender" value="male"> Male
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="genderRadios" id="InputGender" ng-model="formDatas.gender" value="female"> Female
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="InputBirthdate">Birthdate</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="InputBirthdate" datepicker-popup="{{format}}" ng-model="formDatas.birthdate"  is-open="opened" min-date="'1930-01-01'" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- General informations end -->

                <button type="submit" class="btn btn-primary btn-lg">Add client</button>
            </form>
        </div>
    </div>
</div>
