<div class="container-fluid">
    <div ng-include="'components/admin/navbar/top/top.html'"></div>
      <div class="container-fluid">
          <div ng-include="'components/admin/navbar/side/side.html'"></div>
          <div ng-include="'components/admin/navbar/subside-client/subside-client.html'"></div>
          <div class="col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-2 main">
              <h1 class="page-header">Add Client</h1>
              <div class="row">
                  <div class="col-sm-6 col-md-4">
                      <div class="thumbnail thumbnail-form">
                          <font size="8"><span class="fa fa-list pull-right"></span></font>
                          <div class="caption">
                              <form>
                                  <h2>General Information</h2>

                                  <div class="form-group">
                                      <label for="InputName">Name</label>
                                      <input type="text" class="form-control" id="InputName" placeholder="Name">
                                  </div>

                                  <div class="form-group">
                                      <label for="InputFirstName">First Name</label>
                                      <input type="text" class="form-control" id="InputFirstName" placeholder="First Name">
                                  </div>

                                  <label>Sex</label>
                                  <div class="form-inline">
                                      <div class="radio">
                                          <label>
                                              <input type="radio" name="optionsRadios" id="optionMal" value="option1" checked>
                                              Male&nbsp&nbsp
                                          </label>
                                      </div>
                                      <div class="radio">
                                          <label>
                                              <input type="radio" name="optionsRadios" id="optionFemal" value="option2">
                                              Female
                                          </label>
                                      </div>
                                  </div>

                                  <div class="form-group">
                                      <br />
                                      <label for="InputEmail">Email address</label>
                                      <input type="email" class="form-control" id="InputEmail" placeholder="Enter email">
                                  </div>

                                  <label>Birthday</label>
                                  <div class="input-group">
                                      <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                      <span class="input-group-btn">
                                          <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                      </span>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div>
