<div class="container-fluid">

    <div ng-include="'app/components/admin/navbar/top/top.html'"></div>
    <div ng-include="'app/components/admin/navbar/side/side.html'"></div>
    <div ng-include="'app/components/admin/navbar/subside-general/subside-general.html'"></div>

    <div class="col-lg-12 main">
        <div class="title">
            <span class="color-green fa fa-home"></span>Home
        </div>

        <alert ng-repeat="alert in alerts | limitTo: 4" type="{{ alert.type }}" close="closeAlert($index)">{{ alert.msg }}</alert>

        <div class="col-lg-4" id="SheakerMembership">
            <div class="general-box medium-box">
                <span class="color-grey fa fa-users pull-right"></span>
                <div class="title-x-small">Total of clients</div>
                <div class="content-box">
                        <p>Total: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ usersList.length }}</p>
                        <p><span class="color-green">Actifs: &nbsp;&nbsp;&nbsp;</span> {{ (usersList | filter:{activeMembershipId: '!null'}).length }}</p>
                        <p><span class="color-red">Inactifs:&nbsp;</span> {{ (usersList | filter:{activeMembershipId: 'null'}).length }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4" id="Birthdays">
            <div class="general-box medium-box">
                <span class="color-grey fa fa-birthday-cake pull-right"></span>
                <div class="title-x-small">Incoming birthday</div>
                <div class="content-box">
                    <div class="table-responsive">
                        <table class="table table-striped table-condensed">
                            <tbody>
                                <tr ng-repeat="user in usersList | filter: {hasBirthdayInc: true} | limitTo: 10 | orderBy: 'lastName'">
                                    <td width="40%">{{ user.firstName }}</td>
                                    <td width="40%">{{ user.lastName }}</td>
                                    <td width="20%">{{ user.birthdate | date: 'd MMM'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>  <!-- Birthday end -->
        <div class="col-lg-4" id="LastsEntry">
            <div class="general-box medium-box">
                <span class="color-grey fa fa-street-view pull-right"></span>
                <div class="title-x-small">Last check-in</div>
                <div class="table-responsive">
                    <div class="content-box">
                        <table class="table table-striped table-condensed">
                            <tbody>
                                <tr ng-repeat="user in usersLastCheckInList">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>  <!-- Lasts Entry end -->
        <div class="col-lg-4" id="NewClients">
            <div class="general-box medium-box">
                <span class="color-grey fa fa-bookmark pull-right"></span>
                <div class="title-x-small">New clients</div>
                <div class="content-box">
                    <div class="table-responsive">
                        <table class="table table-striped table-condensed">
                            <tbody>
                                <tr ng-repeat="user in usersList | limitTo: 10 | orderBy: 'customId || id':true">
                                    <td width="45%">{{ user.firstName }}</td>
                                    <td width="45%">{{ user.lastName }}</td>
                                    <td width="10%">{{ user.customId || user.id }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>  <!-- Lasts Entry end -->
        <div class="col-lg-4" id="FinishedMemberships">
            <div class="general-box medium-box">
                <span class="color-grey fa fa-frown-o pull-right"></span>
                <div class="title-x-small">Finishing memberships</div>
                <div class="content-box">
                    <div class="table-responsive">
                        <table class="table table-striped table-condensed">
                            <tbody>
                                <tr ng-repeat="user in usersList | filter: {hasInactiveMembershipInc: true} | limitTo: 10 | orderBy: 'lastName'">
                                    <td width="40%">{{ user.firstName }}</td>
                                    <td width="40%">{{ user.lastName }}</td>
                                    <td width="20%">{{ user.payments.endDate | date: 'd MMM' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>  <!--Finished memberships end -->
        <div class="col-lg-4" id="NewMemberships">
            <div class="general-box medium-box">
                <span class="color-grey fa fa-smile-o pull-right"></span>
                <div class="title-x-small">New Memberships</div>
                <div class="content-box">
                    <div class="table-responsive">
                        <table class="table table-striped table-condensed">
                            <tbody>
                                <tr ng-repeat="user in usersList | filter: {hasNewActiveMembership: true} | limitTo: 10 | orderBy: 'lastName'">
                                    <td width="45%">{{ user.firstName }}</td>
                                    <td width="45%">{{ user.lastName }}</td>
                                    <td width="10%">{{ user.customId || user.id }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>  <!--New memberships end -->
    </div>
</div>
