<div class="container-fluid">

    <div ng-include="'app/components/admin/navbar/top/top.html'"></div>
    <div ng-include="'app/components/admin/navbar/side/side.html'"></div>
    <div ng-include="'app/components/admin/navbar/subside-client/subside-client.html'"></div>

    <div class="col-lg-12 main">
        <div class="title">
            <span class="color-blue fa fa-search"></span>Search
        </div>

        <alert ng-repeat="alert in alerts | limitTo: 4" type="{{ alert.type }}" close="closeAlert($index)">{{ alert.msg }}</alert>

        <div class="panel-heading">
            <div class="form-group has-feedback">
                <span ng-hide="searchText.length" class="color-grey glyphicon glyphicon-search form-control-feedback"></span>
                <!-- <span ng-show="searchText.length"  class="glyphicon glyphicon-trash form-control-feedback"></span>-->
                <input type="text" class="form-control search-field" ng-model="searchText" placeholder="Search...">
            </div>
        </div>
        <div class="table-responsive" infinite-scroll="loadUsers()" infinite-scroll-disabled="usersList.busy" infinite-scroll-distance="1">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Membership</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class= "color-background-white">
                    <tr ng-repeat="user in usersList.users | filter: searchText">
                        <td>{{ user.customId || user.id }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>
                            <i class="fa fa-check fa-lg color-green" ng-show="user.activeMembershipId"></i>
                            <i class="fa fa-remove fa-lg color-red" ng-show="!user.activeMembershipId"></i>
                        </td>
                        <td>
                            <a href="#/admin/clients/edit/{{ user.customId || user.id }}" tooltip="Edit" tooltip-placement="left"><span class="fa fa-pencil-square-o fa-lg"></span></a>
                            &nbsp&nbsp<a href="#/admin/clients/charge/{{ user.customId || user.id }}" tooltip="Charge" tooltip-placement="top"><span class="fa fa-money fa-lg"></span></a>
                            &nbsp&nbsp<a href="" tooltip="Review" tooltip-placement="top"><span class="fa fa-user fa-lg"></span></a>
                            <span access="Admin">
                                &nbsp&nbsp<a href="" tooltip="Delete" tooltip-placement="right"><span class="fa fa-trash-o fa-lg color-red"></span></a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="clear: both;"></div>
        </div>
        <div class="text-center" ng-show="usersList.busy && !usersList.noMoreApi"><i class="fa fa-spinner fa-pulse fa-2x"></i></div>
    </div>
</div>
