.panel-heading {
    font-size: 20px;
    padding-top: 18px;
    padding-left: 25px;
    margin-bottom: 20px;
    padding-bottom: 18px;
    border-radius: 20px 0 0 0;
    border-left: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
}

.panel-heading > .search-field {
    margin-left: 20px;
    font-size: 15px;
}

.search-link {
    margin-right: 7px;
}

.search-icon {
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    color: #ccc;
}

.center-membership-icone {
    margin-left: 32px;
}
