body {
    padding-top: 10px;

    font-family: 'Lato', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #FAFAFA;
}

th, {
    font-size: 15px;
    font-weight: 900;
    opacity: 0.8;
}

td {
    font-size: 15px;
    font-weight: 400;
    opacity: 0.9;
}

.main {
    padding-left: 220px;
    background-color: #FAFAFA;

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top: 70px;
}

.main-total {
    padding-left: 0px;
    margin-top: 70px;
}

/* Containers */
.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

/* End Containers */

/* Vertical Center */
.vertical-center {
    height: 100%;
    width: 100%;

    text-align: center;  /* align the inline(-block) elements horizontally */
    font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

.vertical-center > .jumbotron {
    max-width: 100%;
    background-color: gold;

    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;        /* <-- reset the font property */
}

.remove-margin-padding {
    margin : 0;
    padding : 0;
}

.remove-padding-right {
    padding-right: 0;
}

.select-payment-method{
    width: 100%;
    height: 40px;
}

.day-picker{
    padding-top: 36px;
    padding-left: 15px;
    font-size: 18px;
}

@media (max-width: 768px) {
    .vertical-center:before {
        /* height: auto; */
        display: none;
    }
}
/* End Vertical Center */

/* Form */

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control:focus,
.form-signup .form-control:focus {
    z-index: 2;
}
.form-signin input {
    margin-bottom: 20px;
    border-radius: 8px;
}

.form-group .field-address-street{
    margin-bottom: 10px;
}

.thumbnail-form-setting-gym .form-control{
    margin-bottom: 10px;
}
/* End Form */

/* Begin SubsideBar */
/* Hide for mobile, show later */
.subsidebar {
    display: none;
}

.subsidebar {
    width: 130px;
    font-size: 18px;
    position: fixed;
    top: 0px;
    padding-top: 70px;
    bottom: -70px; /* To show the border with the top navabar offeset */
    left: 0;
    z-index: 1000;
    display: block;
    margin-left: 70px;
    padding-left: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #FAFAFA;
    font-weight: 600;
    border-left: 1px solid #dbdbdb;
    /*box-shadow: -3px 1px 4px rgba(0,0,0,0.15);*/
}

/* Sidebar navigation */
.nav-subsidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-left: -20px;
    margin-top: 10px;
    padding-bottom: 5px;
    padding-top: 0;
    /*border-bottom: 2px solid #dbdbdb;*/
}

.nav-subsidebar span{
    margin-right: 8px;
}

.nav-subsidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color: #757575;
}

.nav-subsidebar > li > a:hover {
    text-decoration:underline;
}

.nav-subsidebar > li > a,
.nav-subsidebar > li > a:hover,
.nav-subsidebar > li > a:focus {
    background-color: #FAFAFA;
}


/* NavBar */
.navbar {
    height: 70px;
    width: auto;
}

.homebar {
    margin-top: -13px;
    margin-bottom: 20px;
}

.nav-home > li {
    display: inline-block;
}

.nav-home > li > a {
    font-size: 20px;
    padding-top: 22px;
    font-weight: 900;
    color: #2b3645;
    display: inline-block;
    opacity: 0.7;
}

.nav-home > .active > a,
.nav-home > .active > a:hover,
.nav-home > .active > a:focus {
    background-color: transparent;
    opacity: 0.9;
}

.nav-home > li > a:hover {
    text-decoration: none;
    background-color: transparent;
    opacity: 0.9;
}

.nav-home > li > a,
.nav-home > li > a:hover,
.nav-homer > li > a:focus {
    background-color: transparent;
}
/* End NavBar */

/* Begin Footer */
.cls-footer {
    padding-bottom: 10px;
    border-top: 1px solid #eee;
    padding-top: 10px;
}
/* End Footer */

/* Color set */

.color-background-yellow {
    background-color: #FFB300;
}

.color-yellow {
    color: #FFB300;
}

.color-background-green {
    background-color: #7CB342;
}

.color-green {
    color: #7CB342;
}

.color-background-red {
    background-color: #E53935;
}

.color-red {
    color: #E53935;
}

.color-background-blue {
    background-color: #1E88E5;
}
.color-blue {
    color: #1E88E5;
}

.color-background-grey {
    background-color: #DCDCDC;
}

.color-grey {
    color: #DCDCDC;
}

.color-background-grey-dark {
    background-color: #757575;
}

.color-grey-dark {
    color: #919191;
}

.color-background-blue-grey {
    background-color: #546E7A;
}

.color-blue-grey {
    color: #546E7A;
}

.color-background-white {
    background-color: #FFFFFF;
}

.color-white {
    color: #FFFFFF;
}

/* End color set */

.title {
    font-size: 35px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: #4b4b4b;
    font-weight: 700;
}

.title > .fa {
    font-size: 35px;
    margin-top: 20px;
    margin-right: 20px;
}

.without-border {
    border:none;
}

.without-margin {
    margin:none;
}

.sub-table {
    margin-top: -10px;
}

.clickableRow {
    cursor: pointer;
}

/* Box css */

.box {
    color: #2b3645;
}

.box-separator {
    margin-top: 25px;
}

/* Box Number */
.box > .only-number {
    text-align: center;
}

.box > .only-number > h1 {
    font-size: 50px;
    opacity: 0.6;
}

.box > .only-number > h2 {
    margin-top: -5px;
    font-size: 28px;
    font-weight: 900;
    opacity: 0.7;
}

.box > .only-number > h3 {
    margin-top: -8px;
    font-size: 17px;
    font-weight: 900;
    opacity: 0.4;
}

.box > .only-number > h4 {
    margin-top: -8px;
    font-size: 13px;
    font-weight: 900;
    opacity: 0.3;
}

/* Box Stats */

.box > .stats {
    text-align: center;
}

.box > .stats > h1 {
    font-weight: 900;
    font-size: 35px;
    opacity: 0.5;
}

.box > .stats > .graph {
    padding-top: 10px;
}

.client-datas{
    color: #1E88E5;
    font-weight: bold;
    margin-left: 20px;
}

.charge-photo{
    font-size: 35px;
    margin-bottom: 20px;
    height: 240px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    border-radius:15px;
}

.charge-photo img{
    border-radius:15px;
    border: 10px solid #eff1f4;
}

.charge-photo-checkin{
    font-size: 35px;
    margin-bottom: 20px;
    border-radius:15px;
}

.charge-photo-checkin img{
    border-radius:15px;
    border: 10px solid #eff1f4;
}

.ox {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    color: #2b3645;
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-weight: 400;

    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.shadow-green {
    box-shadow: 2px 5px 10px rgba(40,154,49,0.3);
}

.shadow-red {
    box-shadow: 2px 5px 10px rgba(172,41,43,0.3);
}

.general-box .pull-right {
    padding-top: 5px;
    padding-right: 15px;
}

.general-box .title-medium {
    text-align: center;
    margin-bottom: 40px;
    font-size: 85px;
}

.general-box > h1 {
    text-align: left;
    padding-top: 20px;
    padding-right: 30px;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 900;
    opacity: 0.7;
}

.general-box label {
    font-size: 15px;
    font-weight: 900;
    opacity: 0.8;
}

.general-box .ox .snapshotCtrls {
    margin-bottom: 20px;
}

.general-box > .fa {
    padding-top: 20px;
    padding-right: 20px;
    font-size: 45px;
}

.box-title > .fa {
    padding-top: 20px;
    padding-right: 20px;
    font-size: 40px;
}

.general-box .content-box {
    padding-left : 20px;
    padding-right : 20px;
    overflow-x: hidden;
}

.content-box .fa {
    font-size: 25px;
}

.content-box > h1 {
    text-align: left;
    font-size: 25px;
    font-weight: 900;
    opacity: 0.7;
}

.content-box > h2 {
    text-align: left;
    font-size: 17px;
    font-weight: 900;
    opacity: 0.7;
}

.content-box > h3 {
    text-align: right;
    font-size: 17px;
    font-weight: 900;
    opacity: 0.7;
}

.content-box .help {
    margin-left: 10px;
    margin-top: -8px;
}

.content-box .popover{
    width: 100%;
}

.general-box .reduce-paddin-box {
    padding-left : 12px;
    padding-right : 12px;
}

.general-box .content-box p {
    font-size: 20px;
}

.padding-top-general-box {
    padding-top: 40px;
}

.content-checkin {
    font-size: 30px;
}

.checkin-box {
    margin-top: 100px;
}

.checkin-box .title {
    font-size: 40px;
}

/* Check-in */
.birthday-box {
    font-size: 30px;
    margin-bottom: 20px;
}
/* End Check-in */

.button-submit {
    margin-bottom: 30px;
}

button.button-submit:focus,
button.button-submit:hover {
    text-decoration: none;
    font-weight: 800;
    color: #fff;
}

.table-condensed {
    table-layout:fixed;
    white-space: nowrap;
}

td {
    text-overflow: ellipsis;
    overflow: hidden;
}

.row-padding h3 {
    margin-left: 15px;
    margin-top: 0px;
}

.not-active {
   pointer-events: none;
   cursor: default;
}

/* End Box */

.animated {
  -webkit-animation-duration: 0.5s;
     -moz-animation-duration: 0.5s;
       -o-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
}

.canvas-pos {
    position: relative;
    display: block;
}
