<div class="container-fluid">

    <div ng-include="'components/admin/navbar/top/top.html'"></div>
    <div ng-include="'components/admin/navbar/side/side.html'"></div>
    <div ng-include="'components/admin/navbar/subside-general/subside-general.html'"></div>

    <div class="col-lg-12 main">
        <div class="title">
            <span class="color-blue fa fa-cog"></span>Settings
        </div>

        <alert ng-repeat="alert in alerts | limitTo: 4" type="{{ alert.type }}" close="closeAlert($index)">{{ alert.msg }}</alert>

        <div class="col-lg-offset-1 col-lg-5" id="General">
            <div class="thumbnail thumbnail-form-setting-gym">
                <span class="color-grey fa fa-list pull-right"></span></font>
                <div class="title-small">General</div>
                <div class="form-group">
                    <label for="InputFirstName">Gym Name</label>
                    <input type="text" class="form-control" id="InputGymName" ng-model="formDatas.gymName" placeholder="Gym Name" disabled>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Mail</label>
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input type="email" class="form-control" id="InputMail" ng-model="formDatas.mail" placeholder="Enter email address">
                    </div>
                </div>
                <h3>Adress</h3>
                <div class="col-lg-offset-1 form-group col-lg-2">
                    <label for="InputAdressNumber">#number</label>
                    <input type="number" class="form-control" id="InputAdressNumber" ng-model="formDatas.adress.number" placeholder="ex: 613">
                </div>
                <div class="form-group col-lg-4">
                    <label for="InputAdressCalle">Street</label>
                    <input type="text" class="form-control" id="InputAdressCalle" ng-model="formDatas.adress.calle" placeholder="ex: Francia">
                </div>
                <div class="form-group col-lg-4">
                    <label for="InputAdressColonia">Colonia</label>
                    <input type="text" class="form-control" id="InputAdressColonia" ng-model="formDatas.adress.colonia" placeholder="ex: Ladron de Guevara">
                </div>
                <div class="col-lg-offset-1 form-group col-lg-4">
                    <label for="InputAdressCp">Zip code</label>
                    <input type="number" class="form-control" id="InputAdressCp" ng-model="formDatas.adress.cp" placeholder="ex: 94240">
                </div>
                <div class="form-group col-lg-6">
                    <label for="InputAdressCiudad">City</label>
                    <input type="text" class="form-control" id="InputAdressCiudad" ng-model="formDatas.adress.ciudad" placeholder="ex: Zapopan">
                </div>
                <div class="form-group">
                    <label for="InputFirstName">Phone Number</label>
                    <input type="number" class="form-control" id="InputGymName" ng-model="formDatas.gymName" placeholder="ex: 3365895889">
                </div>
            </div>
        </div>

        <div class="col-lg-5" id="Hours">
            <div class="thumbnail thumbnail-form-setting-gym">
                <span class="color-grey fa fa-clock-o pull-right"></span></font>
                <div class="title-small">Opening Hours</div>
                <div class="form-group">
                    <div class="col-lg-4 day-picker">
                        <select ng-model="formDatas.day" ng-options="day.id as day.day for day in days">
                            <option value="">-- choose day --</option>
                        </select>
                    </div>
                    <div class = "col-lg-4">
                        <timepicker ng-model="mytime" ng-change="changedStartHour()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                    </div>
                    <div class = "col-lg-4">
                        <timepicker ng-model="mytime" ng-change="changedEndHour()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-offset-1 col-lg-10" id="description">
            <div class="thumbnail thumbnail-form-setting-gym-description">
                <div class="form-group">
                    <label for="comment">Description:</label>
                    <textarea class="form-control" rows="10" id="comment"></textarea>
                </div>
            </div>
            <button class="col-lg-12 btn btn-lg btn-primary pull-left" type="submit">Save Edit</button>
        </div>
    </div>
</div>
