.thumbnail-form-setting-gym {
    font-size: 16px;
    border: 0;
    border-top: 1px solid #dbdbdb;
    color: #4b4b4b;
}

.thumbnail-form-setting-gym .title-small {
    padding-top: 8px;
    margin-bottom: 50px;
    font-size: 35px;
}

.thumbnail-form-setting-gym .fa {
    font-size: 50px;
}
