.thumbnail-form-charge {
    font-size: 16px;
    border: 0;
    height: 600px;
    border-top: 1px solid #dbdbdb;
    color: #4b4b4b;
}

.thumbnail-form-charge .title-small {
    padding-top: 8px;
    margin-bottom: 50px;
    font-size: 35px;
}

.thumbnail-form-charge .fa {
    font-size: 50px;
}
