<ul class="nav nav-tabs" role="tablist" ng-controller="NavbarClientsCtrl">
    <li ng-class="{active: isActive('/admin/clients')}"><a href="#/admin/clients"><span class="fa fa-users"></span> Clients</a></li>
    <li ng-class="{active: isActive('/admin/add-client')}"><a href="#/admin/add-client"><span class="fa fa-user"></span> Add Client</a></li>
    <li ng-class="{active: isActive('/admin/edit-client')}"><a href="#/admin/edit-client"><span class="fa fa-pencil-square-o"></span> Edit Client</a></li>
    <li ng-class="{active: isActive('/admin/charge-client')}"><a href="#/admin/charge-client"><span class="fa fa-money"></span> Charge Client</a></li>
    <li ng-class="{active: isActive('/admin/review-client')}"><a href="#/admin/review-client"><span class="fa fa-bar-chart"></span> Client Review</a></li>
</ul>
