/* Sidebar navigation */

.sidebar {
    width: 50px;
    font-size: 30px;
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding-left: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    /*border-right: 1px solid #dbdbdb;*/
    background-color: #fff; /*#f9f9f9;*/
    /*box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;*/
}

.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-left: -20px;
    padding-bottom: 5px;
    padding-top: 0;
    border-bottom: 0 solid #dbdbdb;
}

.independant-button
{
    border-top: 2px solid #dbdbdb;
}

.nav-sidebar > li > a {
    padding-right: 0;
    padding-left: 10px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    background-color: #DCDCDC;
}

/* End SideBar */
