.navbar-inverse .navbar-header .navbar-brand > img {
    margin-top: -6px;
    display: inline;
    margin-left: -10px;
    margin-right: 10px;
}

.navbar-inverse .navbar-header .navbar-brand {
    width: 200px;
    font-size: 22px;
    color: #3a3a3a;
    font-weight: 600;
}

.navbar-inverse {
    width: 200px;
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
}

.navbar-inverse .navbar-header > a {
    color: #3a3a3a;
}
.navbar-inverse .navbar-header > a:hover,
.navbar-inverse .navbar-header > a:focus {
    color: #5b5b5b;
}

.navbar-inverse .navbar-nav {
    margin-top: 2px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #3a3a3a;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #5b5b5b;
}
/*
.right-menu {
    padding-top : 15px;
    margin-right: 10px;
    color : #5b5b5b;
}

.right-menu > li {
    margin-right: 50px;
}
.right-menu > li > a {
    margin-top : -15px;
    margin-right: -10px;
}

.right-menu > li > a:link {color: #289A31;}
.right-menu > li > a:visited {color: #289A31;}
.right-menu > li > a:hover {color: #289A31;}
.right-menu > li > a:active {color: #289A31;}*/
